<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3" [ngSwitch]="isAuthenticated()">
  <div class="container">

    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/category']">分类</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dropdownId">
            <a class="dropdown-item" href="#">Action 1</a>
            <a class="dropdown-item" href="#">Action 2</a>
          </div>
        </li>
      </ul>
      <div class=" navbar-nav nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          账号
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
          <a *ngSwitchCase="false" class="dropdown-item" href="javascript:;" (click)="login()">登陆</a>
          <a *ngSwitchCase="true" class="dropdown-item" href="javascript:;" (click)="logout()">注销</a>
          <a *ngSwitchCase="true" class="dropdown-item" href="javascript:;" (click)="logout()">密码</a>
        </div>
      </div>
    </div>

  </div>
</nav>
